In [1]:
import pandas as pd

In [2]:
# importing the csv
df = pd.read_csv(r"C:\Users\Raffy\Downloads\Compressed\Messy Employee Dataset\Messy_Employee_dataset.csv")

In [3]:
df

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work
0,EMP1000,Bob,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True
1,EMP1001,Bob,Brown,NaN,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True
2,EMP1002,Alice,Jones,NaN,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True
3,EMP1003,Eva,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True
4,EMP1004,Frank,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False
...,...,...,...,...,...,...,...,...,...,...,...,...
1015,EMP2015,David,Miller,30.0,HR-California,Active,8/19/2023,NaN,david.miller@example.com,-3546212759,Good,True
1016,EMP2016,David,Johnson,30.0,Cloud Tech-Texas,Inactive,11/7/2021,100215.06,david.johnson@example.com,-2508261122,Good,True
1017,EMP2017,Charlie,Williams,40.0,Finance-New York,Active,10/4/2023,114587.11,charlie.williams@example.com,-1261632487,Average,False
1018,EMP2018,Alice,Garcia,30.0,HR-Florida,Inactive,12/16/2024,71318.79,alice.garcia@example.com,-8995729892,Good,True
1019,EMP2019,Heidi,Jones,30.0,DevOps-Illinois,Pending,2/22/2021,77764.24,heidi.jones@example.com,-7629745492,Average,False

In [4]:
# Check if there is a null row in all columns
df.isna().sum()

Employee_ID            0
First_Name             0
Last_Name              0
Age                  211
Department_Region      0
Status                 0
Join_Date              0
Salary                24
Email                  0
Phone                  0
Performance_Score      0
Remote_Work            0
dtype: int64

In [5]:
# fill the missing value for column Age with median
df['Age'] = df['Age'].fillna(df['Age'].median()).round().astype(int)

In [6]:
# Split the Department_Region to 2 separate column name Department and Region
df[['Department', 'Region']] = df['Department_Region'].str.split('-', n=1, expand=True)

In [7]:
# Standardize date column to YYYY-MM-DD format
df['Join_Date'] = pd.to_datetime(df['Join_Date'],errors = 'coerce')

In [8]:
# fill the missing value for column Salary with average salary rounded by 2 decimals
df['Salary'] = df['Salary'].fillna(df['Salary'].mean()).round(2)

In [9]:
# Remove the dash sign in the Phone column
df['Phone'] = df['Phone'].abs()

In [10]:
# Standardize the Phone column to be 555-555-5555 format
df['Phone'] = df['Phone'].apply(lambda x: str(x))
df['Phone'] = df['Phone'].apply(lambda x: x[0:3]+'-'+x[3:6]+'-'+x[6:10])

In [11]:
# Converted the Performance_Score column into numerical scale
mapping = {'Poor':1,'Average':2,'Good':3,'Excellent':4}
df['Performance_Score'] = df['Performance_Score'].map(mapping)

In [12]:
# Converted the Remote_Work into a binary format
df['Remote_Work'] = df['Remote_Work'].astype(int)

In [13]:
df

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work,Department,Region
0,EMP1000,Bob,Davis,25,DevOps-California,Active,2021-04-02,59767.65,bob.davis@example.com,165-162-3197,2,1,DevOps,California
1,EMP1001,Bob,Brown,30,Finance-Texas,Active,2020-07-10,65304.66,bob.brown@example.com,189-847-1390,4,1,Finance,Texas
2,EMP1002,Alice,Jones,30,Admin-Nevada,Pending,2023-12-07,88145.90,alice.jones@example.com,559-636-3211,3,1,Admin,Nevada
3,EMP1003,Eva,Davis,25,Admin-Nevada,Inactive,2021-11-27,69450.99,eva.davis@example.com,347-649-0784,3,1,Admin,Nevada
4,EMP1004,Frank,Williams,25,Cloud Tech-Florida,Active,2022-01-05,109324.61,frank.williams@example.com,158-673-4256,1,0,Cloud Tech,Florida
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1015,EMP2015,David,Miller,30,HR-California,Active,2023-08-19,85155.06,david.miller@example.com,354-621-2759,3,1,HR,California
1016,EMP2016,David,Johnson,30,Cloud Tech-Texas,Inactive,2021-11-07,100215.06,david.johnson@example.com,250-826-1122,3,1,Cloud Tech,Texas
1017,EMP2017,Charlie,Williams,40,Finance-New York,Active,2023-10-04,114587.11,charlie.williams@example.com,126-163-2487,2,0,Finance,New York
1018,EMP2018,Alice,Garcia,30,HR-Florida,Inactive,2024-12-16,71318.79,alice.garcia@example.com,899-572-9892,3,1,HR,Florida
1019,EMP2019,Heidi,Jones,30,DevOps-Illinois,Pending,2021-02-22,77764.24,heidi.jones@example.com,762-974-5492,2,0,DevOps,Illinois